.splide{
    background-color: white;
    width: 420px;
    margin:0 auto;
    border-radius: 5px;
    height: auto;
}
.splide__track{
    padding: 50px 10px 50px 10px;
    width:98%;
    margin: 0 auto;
}
.questionText{
    font-size: 18px;
    font-weight: bold;
    padding:10px 10px;
    box-shadow: 2px 2px 2px 1px  black;
}
.answerText{
    padding: 5px 15px;
    margin-bottom:10px;
    box-shadow: 2px 2px 3px 0px #000;
    border-radius: 5px;
}
